/* --- Overall styles --- */
body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
}

/* --- Mobile first approach --- */
/* ## Logo ## */
header #logoH {
    display: none;
}

header #mobileLogo section {
    display: grid;
    grid-template-columns: 40% 20%;
    position: absolute;
    top: 1rem;
    z-index: 2;
    justify-content: center;
    width: 100%;
}

header #mobileLogo p {
    display: block;
    color: #272727;
    text-transform: uppercase;
    font-family: Arial narrow;
    font-size: 1.5rem
}

header #mobileLogo p span {
    font-size: 2.2rem;
}

header #mobileLogo img {
    width: 100%;
}

/* ## Main-nav styles ## */
.main-nav {
    display: none;
}

/* ## Side-nav styles ## */
.side-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #272727;
    z-index: 2;
}

.side-nav p {
    display: none;
}

.side-nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    text-align: center;
    margin: 0.5rem 0 0;
}

.side-nav ul li {
    display: block;
}

.side-nav ul li img {
    width: 1.5rem;
    margin: 0.2rem 0 0;
}

.side-nav ul span {
    padding: 1rem;
    border-radius: 100%;
    margin-top: -2rem;
    background-color: #272727;
}

.side-nav ul span i {
    transform: scale(1.5);
}

.side-nav ul li a {
    color: #FFF;
    font-size: 1.5rem;
}

/* --- Main sections frontpage --- */
/* ## Gallery ## */
.galleryContainer{
    width: 100%;
    height: 105vh;
    margin: auto;
    user-select: none;
    box-sizing: border-box;
}

.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
}

.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
}

.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 1.5rem;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}

.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}

.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 7%;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    background: #00000047;
    height: 30%;
    line-height: 30px;
    overflow: hidden;
}

.galleryContainer .slideShowContainer>.captionTextHolder span {
    font-size: 1rem;
}

.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 1rem;
    box-sizing: border-box;
}

.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}

.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}

.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}

.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}

.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}

@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}

@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}

.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}

/* ## Kurser ## */
main h1 {
    text-align: center;
    font-size: 2.5rem;
}

main #kurser {
    display: grid;
}

main #kurser p, main #diagnose p, main #cfa p {
    margin: 1rem 1.5rem 1rem 1rem;
}

main #kurser #tlm {
    margin-top: 3rem;
    margin-bottom: 0;
}

main #kurser a, main #diagnose a, main #cfa a {
    display: block;
    padding: 1rem;
    background-color: #F3984C;
    margin: 2rem auto;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: Arial narrow;
    font-weight: bold;
    font-size: 1.3rem;
}

main #kurser img {
    max-width: 100%;
}

/* ## Diagnose ## */
main #colourContent {
    color: #FFF;
}

main #colourContent #diagnose, main #colourContent #cfa {
    padding-top: 1rem;
}

main #colourContent #diagnose h3, main #colourContent #cfa h3 {
    text-align: center;
    font-size: 2rem;
}

main #diagnose {
    background-color: #547DBD;
    margin-top: -0.3rem;
    padding-bottom: 1rem;
}

main #diagnose img {
    width: 30%;
    display: block;
    margin: 2rem auto -1rem;
}

main #cfa img {
    width: 80%;
    display: block;
    margin: 2rem auto 0;
}

/* ## Center for Autisme ## */
main #cfa {
    background-color: #65B230;
    margin-top: -1rem;
    padding-bottom: 0.5rem;
}

/* --- Footer --- */
footer {
    background-color: #272727;
    color: #FFF;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

footer h3 {
    text-align: center;
    font-size: 1.4rem;
}

footer #nyhed p {
    margin: 1rem;
}

footer #nyhed input {
    width: 80%;
    margin: 1rem 1rem 0.2rem 1.2rem;
    border: none;
    background-color: #272727;
    color: #FFF;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #FFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #FFF;
}

/* ## Footer Tilmeld button ## */
footer #nyhed a {
    width: 50%;
    display: block;
    margin: 2rem auto;
    background-color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 20px;
    font-family: Arial Narrow;
    font-weight: bold;
}

/* ## Footer white lines ## */
footer div {
    width: 90%;
    border: 3px solid #FFF;
    display: block;
    margin: 3rem auto;
}

footer #nyhed div {
    width: 90%;
    border: none;
    border-top: 1px solid #FFF;
    display: block;
    margin: 0 auto;
}

footer #footerCfA h3 {
    font-size: 1.5rem;
}

footer #footerCfA p {
    text-align: center;
}

footer #footerCfA article {
    text-align: center;
    margin: 2.5rem 0 1rem;
}

footer #footerCfA article a {
    color: #FFF;
}

footer #footerCfA article a i {
    margin-left: 3rem;
    transform: scale(2);
}

footer #footerCfA article a .fFirst {
    margin-left: 0;
}

/* --- Mobile menu page --- */
#menuH #mobileColourMenu {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 35%;
}

#menuH #mobileColourMenu a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

#menuH #mobileColourMenu #vTB {
    color: #537CBC;
}

#menuH #mobileColourMenu #tKG {
    color: #65B230;
}

#menuH #mobileColourMenu #fUO {
    color: #F3984C;
}

#menuH #mobileColourMenu #oOR {
    color: #E42625;
}

#menuH #mobileColourMenu a li {
    margin: 2rem auto;
    padding-top: 2rem;
    width: 70%;
    border-top: 2px solid #272727;
}

#menuH #mobileColourMenu #vTB li {
    border-top: none;
}

/* --- Vi Tilbyder underside --- */
/* ## Coloured side menu undersider ## */
.viT {
    margin-top: 8rem;
}

.viT .colourMenu {
    display: none;
}

.viT #faglighed p, .viT #muligheder p {
    margin: 0 1rem 1rem;
}

.viT #muligheder h2 {
    text-align: center;
}

.viT #muligheder img {
    width: 100%;
    display: block;
    margin: auto;
}

/* --- Forskning og Udvikling underside --- */
.viT #forskningogudvikling {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}

.viT #forskningogudvikling p, .viT #omos p {
    margin: 1rem;
}

.viT #forskningogudvikling h2 {
    text-align: center;
}

.viT #forskningogudvikling article img {
    width: 100%;
}

.viT #cL h2 {
    display: grid;
    text-align: center;
}

.viT #cL img {
    display: block;
    margin: 0 auto;
}

.viT #medarbejdere article {
    margin: 0 auto;
    width: 70%;
}

.viT #medarbejdere article img {
    display: block;
    margin: 0 auto;
}

.viT #missionogvision {
    margin: 1rem;
}

.viT #missionogvision h2 {
    text-align: center;
}

.viT #kontakt p {
    text-align: center;
}

.viT #kontakt #kInfo {
    text-align: center;
}

.viT #kontakt #kInfo i {
    margin-top: 2rem;
    transform: scale(3);
}

.viT #kontakt #kMap h3 {
    margin: 4rem 0 0;
    text-align: end;
}

.viT #kontakt #kMap img {
    width: 100%;
}

/* ######################################################################## */
/* ------------------------- Media query start ---------------------------- */
/* ######################################################################## */

/* -Screens over 1100 pixels- */
@media only screen and (min-width: 1100px) {
    /* ## moving elements ## */
    body {
        margin-left: 3%;
    }

    .viT {
        margin-top: 0rem;
    }

    header #mobileLogo {
        display: none;
    }

    /* ## logo ## */
    header #logoH {
        display: block;
        position: absolute;
        z-index: 1;
        width: 4.2rem;
        top: 0.5%;
        left: 48.5%;
    }

    /* ## main navigation ## */
    header .main-nav {
        display: grid;
        background-color: #FBF8F8;
        height: 6rem;
    }

    header .main-nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        text-align: center;
        padding: 0;
    }

    header .main-nav ul li {
        margin: auto;
    }

    header .main-nav ul #llR {
        margin-right: 4rem;
    }

    header .main-nav ul #lR {
        margin-right: 0rem;
    }

    header .main-nav ul #rL {
        margin-left: 5rem;
    }

    header .main-nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial narrow;
        font-weight: 900;
        color: #7C7B7B;
        font-size: 1.2rem;
    }

    header .main-nav ul #llR a:hover {
        border-bottom: 2px solid #547DBD;
    }

    header .main-nav ul #rL a:hover {
        border-bottom: 2px solid #65B230;
    }

    header .main-nav ul #lR a:hover {
        border-bottom: 2px solid #F3984C;
    }

    header .main-nav ul #rrL a:hover {
        border-bottom: 2px solid #E42625;
    }

    header .main-nav ul li #bCVT {
        border-bottom: 2px solid #547DBD;
    }

    header .main-nav ul li #bCTK {
        border-bottom: 2px solid #65B230;
    }

    header .main-nav ul li #bCFU {
        border-bottom: 2px solid #F3984C;
    }

    header .main-nav ul li #bCOO {
        border-bottom: 2px solid #E42625;
    }

    /* ## side navigation ## */
    .side-nav {
        position: fixed;
        left: 0;
        width: 3%;
        height: 100%;
        background-color: #272727;
    }

    .side-nav a {
        text-decoration: none;
    }

    .side-nav p {
        display: block;
        color: #FFF;
        width: 205%;
        margin: 1.5rem 0 3rem -1.4rem;
        padding: 0;
        transform: rotate(-90deg);
        text-transform: uppercase;
        font-family: Arial Narrow;
    }

    .side-nav p span {
        font-size: 1.5rem;
    }

    .side-nav ul {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
        position: fixed;
        left: 0.7%;
        top: 38%;
    }

    .side-nav ul li {
        display: block;
        padding: 1rem 0;
        transform: scale(1.5)
    }

    .side-nav ul li img {
        width: 1.5rem;
        margin: 0.2rem 0 0;
    }

    .side-nav ul span {
        display: none;
    }

    .side-nav ul li a {
        color: #FFF;
        font-size: 1.5rem;
    }

    /* --- Main content --- */
    /* ## section gallery ## */
    .galleryContainer {
        height: 97vh;
    }

    .galleryContainer .slideShowContainer>.captionTextHolder{
        position: absolute;
        z-index: 1;
        top: 40%;
        right: 15%;
        left: auto;
        bottom: auto;
        width: 30%;
    }

    .galleryContainer #dotsContainer {
        width: 96%;
    }

    /* ## section kurser ## */
    main #kurser {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 4rem;
        margin-top: -4rem;
    }

    main #kurser a, main #diagnose a, main #cfa a {
        width: 30%;
    }

    main #kurser h1 {
        grid-area: 1 / 1 / span 1 / span 2;
        font-size: 6rem;
        margin: 1rem 0;
    }

    main #kurser #contentK {
        grid-area: 2 / 2;
        margin: auto;
    }

    main #kurser img {
        max-width: 85%;
        margin-left: 10%;
    }

    /* ## section colourContent ## */
    main #colourContent {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    main #colourContent #diagnose, main #colourContent #cfa {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    main #colourContent #cfa img {
        margin: 5rem auto;
    }

    main #colourContent #diagnose p, main #colourContent #cfa p {
        margin: 1rem 5rem;
    }

    /* --- Footer --- */
    footer {
        display: grid;
        grid-template-columns: 49.5% 1% 49.5%;
    }

    footer #nyhed {
        padding: 0 9rem;
    }

    footer #nyhed p {
        margin: 1rem 1rem 1rem 2rem;
    }

    footer #nyhed input {
        transform: scale(1.5);
        width: 65%;
        margin: 1rem 1rem 0.8rem 6rem;
    }

    footer #nyhed i {
        transform: scale(2);
    }

    footer div {
        width: 0%;
        height: 100%;
        margin: 1rem auto;
        border: 2px solid #FFF;
    }

    /* ## Coloured side menu undersider ## */
    .viT {
        display: grid;
        grid-template-columns: 21% 79%;
    }

    .viT .colourMenu {
        display: block;
        grid-area: 1 / 1 / span 4;
        padding-top: 1rem;
    }

    .viT .colourMenu h3 {
        margin: 0;
        text-align: center;
        color: #FFF;
        margin-bottom: -0.5rem;
    }

    .viT .colourMenu ul {
        padding: 0 1rem;
    }

    .viT .colourMenu ul li {
        list-style: none;
        margin-top: 1rem;
        border: 2px solid #FFF;
        padding: 0.2rem 0.2rem 0.2rem 1rem;
    }

    .viT .colourMenu ul li:hover {
        animation: 0.4s ease;
        background-color: #FFF;
    }

    .viT .colourMenu.blue ul li:hover {
        color: #537CBC;
    }

    .viT .colourMenu.green ul li:hover {
        color: #65B230;
    }

    .viT .colourMenu.orange ul li:hover {
        color: #F3984C;
    }

    .viT .colourMenu.red ul li:hover {
        color: #E42625;
    }

    .viT .colourMenu ul a {
        color: #FFF;
        text-decoration: none;
    }

    .viT .blue {
        background-color: #537CBC;
    }

    .viT .green {
        background-color: #65B230;
    }

    .viT .orange {
        background-color: #F3984C;
    }

    .viT .red {
        background-color: #E42625;
    }

    .viT #forskningogudvikling {
        padding: 0;
        margin: 0;
    }

    .viT .colourMenu ul #bCB {
        color: #537CBC;
    }

    .viT .colourMenu ul #bCR {
        color: #E42625;
    }

    .viT .colourMenu ul #bCB li {
        background-color: #FFF;
    }

    .viT .colourMenu ul #bCR li {
        background-color: #FFF;
    }

    .viT #faglighed p, .viT #muligheder p, .viT #forskningogudvikling p, .viT #forskningogudvikling ul, .viT #omos p, .viT #missionogvision {
        margin: 0 12rem 1rem;
    }

    .viT #muligheder img, .viT #forskningogudvikling article img {
        width: 68%;
        margin: 3rem auto;
        display: block;
    }

    .viT #medarbejdere article {
        display: grid;
        grid-template-columns: 40% 50%;
        width: 60%;
        margin-bottom: 3rem;
    }

    .viT #medarbejdere article p {
        margin: auto 0;
    }

    /* --- Vi tilbyder undersider --- */
    .centerPage {
        text-align: center;
    }

    .watch {
        width: 72px;
        display: block;
        margin: 0 auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }


    .collcenter {
        margin-left:5vw;
        margin-right:5vw;
    }

    .collcenter2 {
        margin-left:15vw;
        margin-right:15vw;
    }

    .collapsible {
        background-color: #537CBC;
        color: white;
        cursor: pointer;
        padding: 18px;
        margin: 6px;
        width: 100%;
        text-align: left;
        outline: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 22px;
        border: 1px solid #537CBC;
    }

    .active, .collapsible:hover {
        background-color: #FFF;
        color: #537CBC;
    }

    .collapsible:after {
        content: '\F077';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;

    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #FFF;
    }

    .viT #kontakt #kInfo {
        display: grid;
        grid-template-columns: 40% 40%;
        margin-left: 18%;
        margin-top: 5rem;
    }

    .viT #kontakt #kMap {
        padding: 0 8rem 8rem;
    }
}
